@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0; 
}
h1 {
    text-align: center;
}
button {
    width:200px;
    font-size: 15pt;
    border-radius: 2px;
    padding:10px 5px;
    margin:5px;
}
#buttons {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#cccccc;
    width:100%;
    margin:10px;
    padding:10px;

}
#petsOcute {
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
    margin: 50px;
    padding: 0;
    color:#000;
    align-items: stretch;
    
  }
  .petCard {
    display: flex;
    flex-grow: 1;
    flex: 1 1 30%;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    /*box-shadow: 2px 2px 5px #333;*/
}

.petCard h1,
.petCard h4{
    text-align: center;
    font-weight: bold;
}
.petName {
    flex: none;
    background-color:#cccccc;
    color:#333;
    padding: 2px 5px;
    border-radius:10px 10px 0 0;
}
.petInfo {
    flex-grow: 1;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    align-self: flex-end;
}
.petDeets {
    padding: 0 10px;
}
.petDeets h4{
    margin: 5px 0 -10px;
    line-height: 1em;
    font-weight: bolder;
}
.petDeets p {
    line-height:1;
}
.petInfo img {
    text-align:center;
    width:200px;
    height: 200px;
}
.petType {
    flex: none;
    text-transform: uppercase;
    padding: 2px 2px;
    border-radius:0 0 10px 10px;
    align-items: flex-end;
}
.cat, #cat{
    background-color:lightsalmon;
    color:#333;

}
.dog, #dog{
    background-color: lightskyblue;
    color:#333;
}
.dino, #dino {
    background-color:lightgreen;
    color:#333;
}